h2, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f5f9;
}

.sorting {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.control {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add {
    background-color: #5db6ff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.del {
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.profile-box {
    background-color: #fff;
    /* width: 250px; */
    /* margin: 30px 50px 50px 50px; */
    width: 100%;
    /* padding: 40px; */
    border-radius: 15px;
    /* text-align: center;  */
    box-shadow: 1px 1px 10px 0px #00000082;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* align-items: center; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 20px; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #00000082;
}

@media (min-width: 768px) {
    .profile-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .profile-boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

img {
    aspect-ratio: 1 / 1;
    max-width: 100%; 
    /* margin-bottom: 30px; */
}

.profile-box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.profile-box .text {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    /* gap: 8px; */
}

.profile-name {
    margin: 0;
    padding: 0;
}

.my {
    border: 3px solid #5db6ff;
    /* box-shadow: 0px 10px 20px #5db6ff; */
    /* transform: translateY(-10px); */
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 2px 4px #00000082;
}

.track {
    color: #5db6ff;
    padding-block: 5px;
}

.profile-details-boxes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-details-box {
    background-color: #fff;
    width: 100%;
    /* margin: 30px 50px 30px 50px; */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0px #00000082;
}

.profile-details-box h5 {
    margin-bottom: 10px;
}

.club-name {
    font-weight: 100;
}

/* .bold-tegg {
    font-style: bold;
} */

.introduction {
    font-size: 14px;
}

.list {
    list-style-type: disc;
    margin: 10px 20px 0px 0px;
}

.list li {
    font-size: 14px;
}